/* Global modifier for font-family */
* {
    font-family: "Fantasy", sans-serif, Times;
}


/* Body style */
body {
    background-color: #3c3c3c;
}

/* Modifies banner + main header */
h1 {
    color: whitesmoke;
    background-color: orangered;
    /* height: 80px; */
    font-size: 400%;
    margin: auto;
    padding: 20px;
    text-align: justify;
    border: 1px solid;
    text-justify: auto;
}

/* Modifies second header */
h2 {
    color: whitesmoke;
    margin-left: 200px;
    font: bold;
    font-size: 180%;
    border: 5px;

}

/* Modifies the initial container */

.flex-container {
    display: inline-block;
}

/*Modifies the div boxes for the roll options */
.container-child {
    display: inline-block;
    width: 300px;
    border: 2px solid whitesmoke;
    text-align: center;
    height: 300px;
    margin: 20px;  
    font-size: 200%;
    color: whitesmoke;
}

.buttonHistory {
    color: black;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font: bold;
    cursor: pointer;
    margin-left: 20px;
}

img:hover {
    cursor: pointer;
}

.imgCoin {
    display: flex;
    max-height: 50%;
    max-width: 50%;
    margin-left: 73px;
    margin-top: 30px;
    padding: 0px;
}

.imgDSix {
    display: flex;
    max-height: 40%;
    max-width: 40%;
    margin-left: 90px;
    margin-top: 30px;
    padding: 0px;
}

.imgDEight {
    display: flex;
    max-height: 40%;
    max-width: 80%;
    margin-left: 105px;
    margin-top: 30px;
    padding: 0px;
}

.imgDTen {
    display: flex;
    max-height: 45%;
    max-width: 45%;
    margin-left: 85px;
    padding: 0px;
    margin-top: 25px;
}

.imgDTwelve {
    display: flex;
    max-height: 45%;
    max-width: 45%;
    margin-left: 85px;
    padding: 0px;
    margin-top: 30px;
}

.imgDTwenty {
    display: flex;
    max-height: 45%;
    max-width: 45%;
    margin-left: 87px;
    padding: 0px;
    margin-top: 25px;
}

.imgDHundred {
    display: flex;
    max-height: 50%;
    max-width: 50%;
    margin-left: 73px;
    margin-top: 20px;
    padding: 0px;
}

.imgDicebag {
    display: flex;
    max-height: 50%;
    max-width: 50%;
    margin-left: 73px;
    margin-top: 20px;
    padding: 0px;
}

.imgQmark {
    display: flex;
    max-height: 50%;
    max-width: 50%;
    margin-left: 73px;
    padding: 0px;
    margin-top: 20px;
}